<head>  
    <meta charset="UTF-8">  
    <title>Home</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        function backToHomepage(){
            location.href = "/";
        }
    </script>
</head>

<body style="margin: auto; margin-top: 5rem; max-width: 500px;">

    <h2>Your Request Was Received And Someone Will Be In Touch With You Soon!</h2>

    <button 
    id="backToHomeBtn"
    class="btn btn-primary"
    onclick="backToHomepage()"
    >
    Back To Homepage
    </button>

</body>